/* Importando variáveis globais */
@import "../../styles/_variables.css";

/* Conteudo principal */
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
