/* controla o conteudo da pagina */
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
/* arruma a cetralização de imagem e texto de perfil */
.perfil {
  text-align: center;
}
.perfil > img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
/* arrow up */
.irTopo {
  width: 40px;
  height: 40px;
  right: 10px;
  bottom: 10px;
  position: fixed;
  color: green;
}

/* responsividade da pagina */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}
